// LESS VARIABLES
@logo-font-family: 'Berkshire Swash';
@about-us-font: 'Coda';
@primary-site-font: trebuchet MS; // END LESS VARIABLES
//GENERAL PAGE STYLES

body {
  background-color: #DAF4EC;
}

body {
  padding-top: 5px;
  padding-bottom: 20px;
}

input {
  max-width: 280px;
}

.carousel-caption p {
  line-height: 25;
}

.carousel-inner .item img[src$=".png"] {
  width: 100%;
}
@media screen and (max-width:767px) {
  .carousel-caption {
    display: none;
  }
}

#headerImage {
  position: static;
  width: 100%;
  height: 275px;
  border-style: solid;
  border-width: 150px;
  border-bottom: none;
  border-top: none;
  border-color: #089E6E;
}

#logoText {
  position: absolute;
  top: 0;
  left: 170px;
  font-family: @logo-font-family;
  font-size: 6em;
  -webkit-text-stroke: 2px black;
  color: #EAEDF2;
}
//NAVBAR STYLES

.navbar {
  font-family: @primary-site-font;
}

#searchRight {
  position: absolute;
  right: 10px;
}
//FOOTER STYLES

#footer {
  font-family: @primary-site-font;
  font-style: italic;
}
//CAROUSEL STYLES

.carTitle {
  position: relative;
  font-family: @primary-site-font;
  font-size: 1.45em;
  color: White;
}

#myCarousel {
  width: 625px;
  margin: auto;
}
//GARAGE (INDEX) PAGE STYLES

.video {
  position: relative;
  margin: auto;
  width: 50%;
}

#supportCorps {
  font-family: @logo-font-family;
  font-size: 2em;
  text-align: center;
}
//INVENTORY PAGES STYLES

.specs {
  text-align: center;
  font-family: @primary-site-font;
  font-size: 14px;
}

.carThumbTitle {
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
}

.thumbnail {
  background-color: #eeeeee;
}

.initVehiclePrice {
  font-size: 1.15em;
  font-weight: bold;
}

.totVehiclePrice {
  font-size: 1.25em;
  font-weight: bold;
}

.custVehicleBid {
  font-size: 1.25em;
  font-weight: bold;
  color: red;
}

#bidCar {
  text-align: left;
}

.bid {
  text-align: center;
}

#custVehiclePrice {
  text-align: center;
}

.taxTot {
  text-align: center;
}

#bidForm {
  text-align: center;
  // padding-bottom: 10px;
}

.removeHover {
  pointer-events: none;
}
//CONTACT PAGE STYLES

#contactForm {
  margin-left: 70px;
}
//ABOUT PAGE STYLES

#iconMustang {
  position: relative;
  left: 70px;
}

#aboutText {
  margin-left: 70px;
  margin-right: 70px;
  text-align: justify;
  font-family: @primary-site-font;
}

#aboutTitle {
  font-family: @logo-font-family;
}

#beginning {
  font-size: 18px;
  font-family: @about-us-font;
}

#footer {
  width: 100%;
  height: 100%;
  padding-top: 325px;
}

//LANDING PAGE

.landing {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 50px;
  background-color: #ccc;
  border-radius: 3px;
  padding: 15px;
  text-align: center;
  font-family: @logo-font-family;
  font-size: 2rem;
}
